<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" [routerLink]="'/'">Опять у тебя проблемы с памятью</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Главная</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/note'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Форма для заметок</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/types'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Типы</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [routerLink]="'/types/type'"
              [routerLinkActive]="'active'"
              [routerLinkActiveOptions]="{ exact: true }"
              >Форма для типов</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>