<div class="container">
  <form>
    <p><input type="text" name="notetitle" class="form-control w-50" [(ngModel)]="notetitle"></p>
    <p><textarea name="maintext" id="1" cols="30" rows="10" class="maintext" [(ngModel)]="maintext"></textarea></p>
    <input type="button" value="Сохранить" (click)="submit()" class="btn btn-primary">
  </form>
  <div *ngFor="let number of notes; let i = index">
    <p>{{notes[i].id}}.{{notes[i].name}}</p>
    <p>{{notes[i].maintext}}</p>
    <p>{{notes[i].date|date:'medium'}}</p>
    <input type="button" value="Удалить" (click)="delete(i)" class="btn btn-danger">
  </div>
</div>