<button class="btn btn-primary mt-3 ml-3" (click)="linkToItem()">Новая заметка</button> 
<div *ngFor="let note of notes" class="col-12 col-md-6 col-lg-4 col-xl-4">
<div class="mt-5 border border-primary rounded shadow-lg p-3 mb-5 bg-white rounded"
    >
    <p>{{note.id}}.{{note.name}}</p>
    <p>{{note.maintext}}</p>
    <p>{{note.date|date:'dd.MM.yy H:mm'}}</p>
    <p>{{note.editdate|date:'dd.MM.yy H:mm'}}</p>
    <p>тип: {{gettypename(note.type)}}</p>
    <div><input type="button" value="Редактировать" (click)="linkToItem(note.id)" class="btn btn-info mt-1"></div>
</div>
</div>
