<div class="row">
    <div class="col-12">
      <button class="btn btn-primary float-end" (click)='linkToItem()'>
        Новый
      </button>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">ID</th>
            <th scope="col">Имя</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let type of types"
            (click)="linkToItem(type.id)"
          >
            <td>{{ type.id }}</td>
            <td>{{ type.name }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>