<form [formGroup]="NoteForm" class='container-fluid'>
  <div><input type="text" name="notetitle" class="form-control w-100" formControlName="name">
  </div>
  <div><textarea name="maintext" id="1" cols="30" rows="10" class="w-100" formControlName="maintext"></textarea>
  </div>
</form>
  <div *ngIf="status==false; else editblock">
    <label for="type">Типы заметок</label>
    <div>
      <select [(ngModel)]="typecontainer"  class="form-control w-25 mb-5" name="types" id="type">
        <option *ngFor="let type of typearr" [ngValue]="type"> {{type.typename}} </option>
      </select>
    </div>
    <input type="button" value="добавление типа" (click)="onEdittype()" class="btn btn-info mt-1">
    <input type="button" value="удаление типа" (click)="onDeletetype()" class="btn btn-danger mt-1">
  </div>

  <ng-template #editblock>
    <form [formGroup]="TypeForm">
      <div class="mt-5 border border-primary rounded shadow-lg p-3 mb-5 bg-white rounded">
        <input type="text" name="notetitle" class="form-control w-50" formControlName="typename">
        <input type="button" value="Сохранить" (click)="onAddtype()" class="btn btn-info mt-1">
      </div>
    </form>
  </ng-template>

  <input type="button" value="Сохранить заметку" (click)="onAddNote()" class="btn btn-primary">
